{% extends 'base.html' %}

{% load static %}

{% block meta %}
    <title>Friends</title>
    <meta charset="UTF-8">
{% endblock meta %}

{% block content %}
    <nav class="navbar navbar-expand justify-content-center">
        <h1>Friends</h1>
    </nav>

    <div class="container-fluid" id="search-button">
        <button class="btn btn-success" type="button" data-bs-toggle="modal" data-bs-target="#searchModal" id="open-search-modal"><i class="bi bi-search"></i> Search friend</button>
    </div>

    <div class="container-fluid" main-container ></div>
    
    <!-- User-Search Modal -->
    <div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <form class="d-flex w-100" role="search">                     
                        <input class="form-control me-2 w-100" type="search" placeholder="Search" aria-label="Search" data-search>
                    </form>
                </div>
                <div class="modal-body" users-card-container></div>
            </div>
        </div>
    </div>

    <!-- Friend-Card Modal -->
    <div class="modal fade" id="seeProfile" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="profileName" friend-profile-name>Modal title</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div friend-favorite id="favorite-container"><strong>Favorites</strong>
                    <div class="row">
                        <div class="owl-carousel owl-theme" carousel-favorite>

                        </div>
                    </div>
                </div>
                <div friend-current-read-book id="borrowed-container"><strong>Borrowed</strong>
                    <div class="row">
                        <div class="owl-carousel owl-theme" carousel-borrowed>

                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    
    <!-- User-Card Template -->
    <template user-card-template>
        <div class="card" id="user-card-container">
            <div class="card-body">
                <h5 class="card-title" user-name></h5>
                <button type="button" class="btn btn-primary" follow-followed-button ></button>
            </div>
        </div>
    </template>

    <!-- Friend-Card Template -->
    <template friend-card-template>
        <div class="card" id="friend-card">
            <div class="card-body">
                <h5 class="card-title" friend-name></h5>
                <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#seeProfile" see-profile-button>See Profile</button>                  
                <button type="button" class="btn btn-outline-danger" unfollow-button >Unfollow</button>
            </div>
        </div>
    </template>

    <!-- Book-Card Template -->
    <template book-card-template>
        <div class="item">
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="..." book-img>
                <div class="card-body">
                <h5 class="card-title" book-title>Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
    </template>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        $('.owl-carousel').owlCarousel({
            loop:true,
            margin:10,
            nav:true,
            responsive:{
                0:{
                    items:1
                },
                600:{
                    items:3
                },
                1000:{
                    items:5
                }
            }
        })
        var currentUser = {
            username: "{{ current_user.username }}"
        };
        const csrfToken = '{{ csrf_token }}'
        const url_get_friends = "{% url 'friends:get_friends' %}"
        const url_get_all_user_connections = "{% url 'friends:get_all_user_connections' %}"
        const url_get_user = "{% url 'friends:get_user' user_id=1 %}"
        const url_follow_friend = "{% url 'friends:follow_friend' friend_id=1 %}"
        const url_get_user_connections = "{% url 'friends:get_user_connections' user_id=1 %}"
        const url_unfollow_friend = "{% url 'friends:unfollow_friend' friend_id=1 %}"
        const url_get_borrowed_books = "{% url 'myLibrary:get_borrowed_books' user_id=1 %}"
        const url_get_favorite_books = "{% url 'myLibrary:get_favorite_books' user_id=1 %}"
        const userCardTemplate = document.querySelector("[user-card-template]")
        const userCardsContainer = document.querySelector("[users-card-container]")
        const searchInput = document.querySelector("[data-search]")

        const friendCardTemplate = document.querySelector("[friend-card-template]")
        const friendCardsContainer = document.querySelector("[main-container]")

        const bookCardTemplate = document.querySelector("[book-card-template]")

        const friendFavoriteContainer = document.querySelector("[carousel-favorite]")
        const friendCurrentReadBookContainer = document.querySelector("[carousel-borrowed]")
        const friendProfileName = document.querySelector("[friend-profile-name]")

        let users = []

        searchInput.addEventListener("input", (e) => {
            const value = e.target.value.toLowerCase()
            users.forEach(user => {
                if (user == null) {return}
                const isVisible = user.name.toLowerCase().includes(value)
                if (!isVisible) {
                    user.element.style.display = "none"
                } else {
                    user.element.style.display = "block"
                }
            })
        })

        async function getFriends() {
            return fetch(url_get_friends).then((response) => response.json()).then((data) => data)
        }

        async function getAllUserConnections() {
            return fetch(url_get_all_user_connections).then((response) => response.json()).then((data) => data)
        }

        async function getUser(user_id) {
            return fetch(url_get_user.replace(/1/, user_id)).then((response) => response.json()).then((data) => data)
        }
            
        async function showUsers() {
            try {
                const currentUser = await getFriends()

                const usersResponse = await getAllUserConnections()

                const currentUserFriends = currentUser[0].fields.friends
                users = await Promise.all(usersResponse.map(async user_connection => {
                    if (user_connection.pk == currentUser[0].pk) return null

                    const userCard = userCardTemplate.content.cloneNode(true).children[0]
                    const userName = userCard.querySelector("[user-name]")
                    const followFollowedButton = userCard.querySelector("[follow-followed-button]")
                    
                    const user = await getUser(user_connection.fields.user)
                    userName.textContent = user[0].fields.username

                    if (currentUserFriends.includes(user_connection.pk)) {
                        followFollowedButton.textContent = "Followed"
                        followFollowedButton.classList.remove("btn-primary")
                        followFollowedButton.classList.add("btn-secondary")
                        followFollowedButton.setAttribute("disabled", "true")
                    } else {
                        followFollowedButton.textContent = "Follow"
                        followFollowedButton.addEventListener("click", function () {
                            fetch(url_follow_friend.replace(/1/, user_connection.pk), {
                                method: "POST",
                                headers: {
                                    'X-CSRFToken': csrfToken
                                }
                            }).then(refreshFriends)
                            followFollowedButton.classList.remove("btn-primary")
                            followFollowedButton.classList.add("btn-secondary")
                            followFollowedButton.setAttribute("disabled", "true")
                            followFollowedButton.textContent = "followed"
                        })
                    }
                    userCardsContainer.append(userCard)
                    return { name: user[0].fields.username, element: userCard }
                }))
            } catch (error) {
                console.error('Error fetching data:', error)
            }
        }

        const openSearchModalButton = document.getElementById("open-search-modal")
        openSearchModalButton.addEventListener("click", showUsers)

        const searchModal = document.getElementById("searchModal")
        searchModal.addEventListener("hidden.bs.modal", function() {
            userCardsContainer.innerHTML = ""
            searchInput.value = ""
        })

        async function getUserConnections(user_id) {
            return fetch(url_get_user_connections.replace(/1/, user_id)).then((response) => response.json()).then((data) => data)
        }

        async function refreshFriends() {
            friendCardsContainer.innerHTML = ""
            const currentUserFriends = await getFriends()
            var friendsCount = currentUserFriends.length
            let friendsCountString = ``
            if (friendsCount == 0) {
                friendsCountString = `You don't have any friends yet`
            } else {
                currentUserFriends[0].fields.friends.forEach(async (friend) => {
                    const friendCard = friendCardTemplate.content.cloneNode(true).children[0]
                    const friendName = friendCard.querySelector("[friend-name]")
                    const seeProfileButton = friendCard.querySelector("[see-profile-button]")
                    const unfollowButton = friendCard.querySelector("[unfollow-button]")
                    const userConnection = await getUserConnections(friend)

                    const user = await getUser(userConnection[0].fields.user)
                    friendName.textContent = user[0].fields.username

                    //loop tiap buku yang lagi dibaca si user, trus ubah konten cardnya
                    const bookCard = bookCardTemplate.content.cloneNode(true).children[0]
                    const bookImg = bookCard.querySelector("[book-img]")
                    const bookTitle = bookCard.querySelector("[book-title]")
                    
                    //loop tiap buku yang difavoritin si user, trus ubah konten cardnya

                    seeProfileButton.addEventListener("click", function () {
                        seeProfile(user)
                    })

                    unfollowButton.addEventListener("click", function () {
                        fetch(url_unfollow_friend.replace(/1/, userConnection[0].pk), {
                            method: "POST",
                            headers: {
                                'X-CSRFToken': csrfToken
                            }
                        }).then(refreshFriends)
                    })

                    friendCardsContainer.append(friendCard)
                })
            }
        }

        refreshFriends()

        async function getBorrowedBooks(user_id) {
            return fetch(url_get_borrowed_books.replace(/1/, user_id)).then((response) => response.json()).then((data) => data)
        }

        async function getFavoriteBooks(user_id) {
            return fetch(url_get_favorite_books.replace(/1/, user_id)).then((response) => response.json()).then((data) => data)
        }

        async function seeProfile(user) {
            //fetch buku favorite user

            //fetch buku yang lagi dibaca user
            friendProfileName.textContent = user[0].fields.username
            const borrowedBooks = await getBorrowedBooks(user[0].pk)
            const favoriteBooks = await getFavoriteBooks(user[0].pk)

            if (borrowedBooks.length == 0) {
                friendFavoriteContainer.textContent = "Your friend doesn't have a favorite book yet"
            } else {
                favoriteBooks.forEach((book) => {
                    const bookCard = bookCardTemplate.content.cloneNode(true).children[0]
                    const bookImg = bookCard.querySelector("[book-img]")
                    const bookTitle = bookCard.querySelector("[book-title]")
                    bookImg.setAttribute('src', book.fields.img)
                    bookTitle.textContent = book.fields.title
                    friendFavoriteContainer.append(bookCard)
                })
            }

            if (favoriteBooks.length == 0) {
                friendCurrentReadBookContainer.textContent = "Your friend isn't reading any books"
            } else {
                borrowedBooks.forEach((book) => {
                    const bookCard = bookCardTemplate.content.cloneNode(true).children[0]
                    const bookImg = bookCard.querySelector("[book-img]")
                    const bookTitle = bookCard.querySelector("[book-title]")
                    bookImg.setAttribute('src', book.fields.img)
                    bookTitle.textContent = book.fields.title
                    friendCurrentReadBookContainer.append(bookCard)
                })
            }
        }

        const profileModal = document.getElementById("seeProfile")
        profileModal.addEventListener("hidden.bs.modal", function() {
            friendFavoriteContainer.innerHTML = ""
            friendCurrentReadBookContainer.innerHTML = ""
        })
    </script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock %}

{% block style %}
    <style>
        #search-button {
            margin-left: 1%;
        }

        #friend-card {
            max-width: 18rem;
            display: inline-block;
            margin: 1%;
            width: 300px;
        }

        #user-card-container {
            display: block;
            margin-top: 5%;
        }

        #favorite-container {
            margin-bottom: 5%;
        }
    </style>
{% endblock style %}
