{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0"
        />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        
        <link rel="stylesheet" >
        

    </head>
    <body>
       <nav class="navbar navbar-expand-lg bg-blue">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">TenFoldLit</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Browse
                </a>
                <div class="dropdown-menu">
                    <ul class="list-unstyled">
                        {% for code, name in GENRE_CHOICES %}
                            <li><a class="dropdown-item" href="{% url 'books' code %}">{{ name }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
              </li>
            </ul>
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>

          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item mx-2">
              <a href="#" class="nav-link text-black">Login</a>
            </li>
            <li>
              <a href="#" class="nav-link text-black">Sign up</a>
            </li>  
          </ul>
        </div>
       </nav>

       {% block banner-slider %}{% endblock banner-slider %}
       {% block main-content %}{% endblock main-content %}

       <footer class="container-fluid fixed-bottom bg-success text-center p-2 mt-5">
        Copyright : 2023 || designed by TenFoldLit
       </footer>
      <!-- Kode JavaScript dan AJAX -->
      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
      <script>
        $(document).ready(function () {
            // Menggunakan jQuery untuk membuat permintaan AJAX
            $.ajax({
                url: "/check-login-status", // Ganti dengan URL yang sesuai
                method: "GET",
                success: function (response) {
                    if (response.loggedIn) {
                        // Jika pengguna sudah login, ubah tampilan menu navigasi
                        $(".nav ul").append(`
                            <li>
                                <a href="#" class="nav-link text-black">Profile</a>
                            </li>
                            <li>
                                <a href="#" class="nav-link text-black">Library</a>
                            </li>
                            <li>
                                <a href="#" class="nav-link text-black">Favorite</a>
                            </li>
                            <li>
                                <a href="#" class="nav-link text-black">Logout</a>
                            </li>
                        `);
                    } else {
                        // Jika pengguna belum login, tampilkan tombol Login dan Sign up
                        // Anda juga bisa menghapus tombol yang tidak dibutuhkan
                        $(".nav ul").append(`
                            <li>
                                <a href="#" class="nav-link text-black">Login</a>
                            </li>
                            <li>
                                <a href="#" class="nav-link text-black">Sign up</a>
                            </li>
                        `);
                    }
                }
            });
        });
      </script>
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
      

    </body>
</html> 