<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=devive-width, initial-scale=1.0">
    <tittle>TenFoldLit</tittle>
    <link rel="stylesheet" href="style.css"
</head>
<body>
<div class="header">
    <nav>
        <img src="images/TenFoldLit.png" class="logo">
        <div>
            <button class="language-btn">Browse <img src="images/down-icon.png" ></button>
            <button>Sign In</button>
        </div>
    </nav>
    <div class="header-content">
        <h1>What book are you looking for?</h1>
        <h3>Not sure what to read? Explore our catalog</h3>
        <p>of public domain books with our editors</p>
        <form class="search">
            <input type="search" placeholder="Search books" required>
            <button type="submit">Get Started</button>
        </form>
    </div>
</div>

<div class="recomendation">
    <div class="row">
        <div class="text-col">
            <h2>Recomendation</h2>
            <p>Most searched books</p>
        </div>
    </div>
</div>



</body>
</html>